/*Fonts Used*/
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap');

:root { 
	--priColor: #1854aa; 
	--secColor: #84b244;
	/* --terColor: #fff; */
	/* --fourColor: #fff; */
	/* --fifColor: #fff; */

	--priFont: "Kaisei Tokumin", serif; 
	--secFont: sans-serif;
	--bodyFontSize: 18px; 
	--bodyFontWeight: 400;
	--bodyColor: #fff; 
	--bodyLineHeight: 28px; 

	/* Heading size */
	--xsmallFont: 25px;
	--smallFont: 30px;
	--medFont: 32px;
	--largeFont: 50px;
	--xlargeFont: 55px;

}

/* Heading and Button Styles */

.heading-style1{font-family: var(--secFont); font-size: var(--medFont); font-weight: 800; color: #fff; line-height: 140%; text-align: center; position: relative; padding-bottom: 20px;isolation: isolate;}
.heading-style1_sub{display: block; font-family: var(--priFont); font-size: var(--largeFont); font-weight: 700; color: rgba(125, 137, 240, 0.3); line-height: 100%; position: absolute; inset: 10px 0 auto;z-index: -1;}

.btn-style1{display: block; width: 206px; max-width: 100%; height: 42px; line-height: 40px; background: rgba(255, 255, 255, 0.05); backdrop-filter: blur(3px); border: 1px solid rgba(125, 137, 240, 0.5); border-radius: 40px; font-family: var(--priFont); font-size: 16px; font-weight: 400; text-align: center; padding: 0 10px; position: relative; margin: 0 auto;}
.btn-style1:hover{ background: rgba(255, 255, 255, 0.2);}

/* Heading and Button Styles End */


*, *:before, *:after { box-sizing: border-box; -moz-box-sizing: border-box; image-rendering: -webkit-optimize-contrast;}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline; -webkit-text-size-adjust: 100%;}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
button, html input[type=button], input[type=reset], input[type=submit] { -webkit-appearance: button; cursor: pointer; }
input:not([type='radio']):not([type='checkbox']), textarea, select{-webkit-appearance: none;}
form, label {-webkit-text-size-adjust: 100%;}
mark {background-color: transparent;color:inherit;}
/* end reset */

/*preset*/
body { font-family: var(--priFont); font-size: var(--bodyFontSize); font-weight: var(--bodyFontWeight); line-height: var(--bodyLineHeight); color: var(--bodyColor); position: relative; max-width: 1920px; margin: 0 auto; } 
body.active{overflow: hidden;width:100%;height:100%;position:fixed!important;}
a{ text-decoration:none; -webkit-transition: all .3s linear;transition: all .3s linear;}
img{max-width: 100%; vertical-align: top; image-rendering: -webkit-optimize-contrast;}
textarea { resize:vertical; }
iframe{ border: none; width: 100%;}
ul, h1, h2, h3, h4{ margin:0; padding:0; list-style:none; }
strong , b{ font-weight: bold;}
em, i{font-style: italic;}
input[type="submit"]{cursor: pointer;}
a[href^="tel:"]{color: inherit!important; text-decoration: none;}

/* Additional Presets */
a{color: inherit;}
video, iframe{display: block;}
.uppercase{text-transform: uppercase;}
.italic{font-style: italic;}

.outer_wrapper{width:100%; max-width: 500px; margin: 0 auto; position: relative; overflow: hidden; padding: 0 25px; isolation: isolate;}
.outer_wrapper::before{content: ""; background: linear-gradient(180deg, rgba(0, 0, 0, 0) 5%, rgba(0, 0, 0, 0.8) 14%); position: absolute; inset: 300px 0 0; }
.wrapper{ width:100%; max-width: 500px; margin: 0 auto; position: relative;}

.body_bg{width: 100%; height: 100dvh; background: #000; position: fixed; top: 0; left: 0;}
.body_bg:before{content: ""; display: block; width: 100%; height: 100%; background: url(images/body-bg.webp) no-repeat; background-size: 180%; background-position: 50%; filter: blur(3px) brightness(0.3) saturate(1.5);position: relative;z-index: -5;}

.fixed_con{position: fixed; inset: 0; overflow: hidden; width: 500px; height: 100%; margin: 0 auto; z-index: -1;}
.fixed_bg{width: 1500px; height: 1000px; position: absolute; top: -105px; left: -250px; z-index: -1;}
.fixed_bg:before{content: ""; width: 100%; height: 100%; position: absolute; top: 0; left: 0; background: url(images/fixed-bg.webp) no-repeat; background-size: 2000px; background-position: 50%; filter: brightness(0.7) contrast(1.1) saturate(1.5); animation: slide-bg 30s cubic-bezier(.4,.4,0,1) forwards; }
.fixed_img{width: 450px; filter: brightness(0.8) contrast(1.3) saturate(1.5); position: absolute; top: 45px; left: -15px;height: 800px;overflow: hidden;}

@keyframes slide-bg {
  0% {
    background-position: 100% center;
  }
  100% {
    background-position: 50% center;
  }
}


header{padding: 28px 10px 0;position: fixed;inset: 0 0 auto;z-index: 100;}
.header_con{width: 400px; max-width: 100%; min-height: 68px; background: rgba(14, 11, 7, 0.95); backdrop-filter: blur(3px); border-radius: 34px; border: 2px solid #8f734b; margin: 0 auto; display: flex; justify-content: space-between; align-items: flex-start; flex-wrap: wrap; padding: 13px 41px;}
.main_logo{display: flex; justify-content: center; align-items: center; gap: 16px; position: relative;}
.main_logo a{position: absolute; inset: 0;}
.main_logo figure{max-width: 38px; border-radius: 100%; box-shadow: 0 0 0 1px #fff;}
.main_logo p{font-size: 21px; font-weight: 800; color: #fff;}


.hamburger { display: inline-block; cursor: pointer; background: none; border: none; padding: 4px; z-index: 999; }
.hamburger span { display: block; width: 26px; height: 2px; margin: 6px 0; background: #fff; transition: 0.3s; transform-origin: center; }

.hamburger.active span:nth-child(1) { transform: rotate(45deg) translate(5px, 6px); }
.hamburger.active span:nth-child(2) { opacity: 0; }
.hamburger.active span:nth-child(3) { transform: rotate(-45deg) translate(6px, -6px); }

.nav-menu { max-height: 0; overflow: hidden; opacity: 0; transform: translateY(-10px); transition: max-height 0.6s ease, opacity 0.6s ease, transform 0.6s ease; width: 100%;}
.nav-menu.active { max-height: 500px; opacity: 1;}
.nav_line{width: 100%; height: 1px; background: #fff; margin-top: 33px;}
.nav-menu ul{display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap; gap: 20px; padding: 24px 8px 5px;}
.nav-menu ul li{}
.nav-menu ul li a{display: block; font-size: 27px; font-weight: 800; color: #fff;}
.nav-menu ul li a:hover{text-decoration: underline;}

.anchor-target {scroll-margin-top: 210px; }

#banner{padding-top: 120px;}
.bnr_heading{text-align: center;}
.bnr_heading p{font-size: 20px; font-weight: 700;}
.bnr_heading p span{display: block;}
.bnr_heading h2{font-size: 80px; font-weight: 800; line-height: 100%;margin-top: 5px;}

.bnr_info{margin-top: 205px;}
.bnr_info figure{margin: 0 auto; text-align: center;max-width: 420px;}
.bnr_info figure img{width: 100%;}

#application{padding: 40px 0;}
.app_info{text-align: center;}
.app_info .app_logo{width: 100px; border-radius: 20px; overflow: hidden; margin: 15px auto;}
.app_info .dl_btns{display: flex; justify-content: center; align-items: center; gap: 10px;}
.app_info .dl_btns figure{position: relative;}
.app_info .dl_btns figure:hover{opacity: 0.8;}
.app_info .dl_btns figure:first-child{width: 142px;}
.app_info .dl_btns figure:last-child{width: 170px;}
.app_info .dl_btns figure img{width: 100%;}
.app_info .dl_btns figure a{position: absolute; inset: 0;}
.app_info p{font-size: 20px; font-weight: 800;margin-top: 15px;}
.app_info p span{display: block;}

#classes{padding: 0;}

.carousel_holder{position: relative; width: 100%; overflow: hidden;}
.main_carousel{min-height: 390px; margin-top: 25px; width: 940px !important;   left: 50%; transform: translateX(-50%);}
.owl_box{width: 280px; max-width: 100%; min-height: 320px; border-radius: 20px; border: 1px solid rgba(255, 255, 255, 0.3); margin: 0 auto; position: relative; overflow: hidden; text-align: center;}
.owl_box::before{content: ""; width: 100%; height: 100%; background: linear-gradient(rgba(0, 0, 0, 0.1),rgba(0, 0, 0, 0.1)), linear-gradient(180deg, transparent 37%, rgba(0, 0, 0, 0.7) 55%); position: absolute; inset: 0;}
.owl_box_info{position: absolute; inset: auto 0 0;padding: 27px;}
.owl_box h2{font-size: 24px; font-weight: 700;line-height: 1.4;}
.owl_box p{font-size: 16px;margin-top: 13px;}
.owl_box a{position: absolute; inset: 0;}
.owl-carousel .owl-item { transition: all 2s ease-in-out; }

.owl-nav{display: flex !important; justify-content: space-between; align-items: center; width: 218px; padding: 0 25px;margin: 20px auto 0;position: relative;}
.owl-nav button{display: block; width: 40px; aspect-ratio: 1/1; background: rgba(255, 255, 255, 0.1) !important; border-radius: 50%; text-align: center; position: relative;}
.owl-nav button:hover{background: rgba(255, 255, 255, 0.4) !important;}
.owl-nav button span{display: none;}
.owl-nav button:before{font-size: 30px; font-weight: 800;position: relative;top: -4px;}
.owl-prev::before{content: "\2039";}
.owl-next::before{content: "\203A";}

/* Pause/Play Button */
.toggleBtn{display: flex !important; justify-content: center; align-items: center;    border: none !important;   position: absolute !important;inset: 0 0 auto;margin: 0 auto;}
.toggleBtn:hover{background: rgba(255, 255, 255, 0.4) !important;}
.toggleBtn::before { color: #fff; font-size: 16px !important;line-height: 100%;position: relative;}
.toggleBtn.pause::before { content: "\23F8"; top: -3px;}
.toggleBtn.play::before { content: "\25B6"; top: -1px; left: 2px;}

.class_box1{background: url(images/classes-img-1.webp) no-repeat center/cover;}
.class_box2{background: url(images/classes-img-2.webp) no-repeat center/cover;}
.class_box3{background: url(images/classes-img-3.webp) no-repeat center/cover;}
.class_box4{background: url(images/classes-img-4.webp) no-repeat center/cover;}
.class_box5{background: url(images/classes-img-5.webp) no-repeat center/cover;}
.class_box6{background: url(images/classes-img-6.webp) no-repeat center/cover;}
.class_box7{background: url(images/classes-img-7.webp) no-repeat center/cover;}
.class_box8{background: url(images/classes-img-8.webp) no-repeat center/cover;}
.class_box9{background: url(images/classes-img-9.webp) no-repeat center/cover;}
.class_box10{background: url(images/classes-img-10.webp) no-repeat center/cover;}
.class_box11{background: url(images/classes-img-11.webp) no-repeat center/cover;}
.class_box12{background: url(images/classes-img-12.webp) no-repeat center/cover;}
.class_box13{background: url(images/classes-img-13.webp) no-repeat center/cover;}
.class_box14{background: url(images/classes-img-14.webp) no-repeat center/cover;}
.class_box15{background: url(images/classes-img-15.webp) no-repeat center/cover;}
.class_box16{background: url(images/classes-img-16.webp) no-repeat center/cover;}
.class_box17{background: url(images/classes-img-17.webp) no-repeat center/cover;}
.class_box18{background: url(images/classes-img-18.webp) no-repeat center/cover;}
.class_box19{background: url(images/classes-img-19.webp) no-repeat center/cover;}
.class_box20{background: url(images/classes-img-20.webp) no-repeat center/cover;}

.class_btn{margin-top: 5px;width: 222px;}

#schedule{padding-top: 40px;}
.sched_date{display: flex; justify-content: space-between; align-items: center; max-width: 336px; margin: 38px auto 0;}
.sched_date li{font-size: 80px; font-weight: 500;  color: #f7f7f7; }
.sched_date li small{position: relative; font-size: 42px; font-weight: 400;}
.sched_date li q{font-size: 24px; font-weight: 700; line-height: 100%; position: absolute; top: -15px; left: 0;}
.sched_date li span{display: block; font-size: 22px; font-weight: 400; line-height: 100%;margin-top: 20px;}

.sched_date li:first-child q{color: #3d5afe;}
.sched_date li:last-child q{color: #FF1744;}

.sched_date li:nth-child(2){font-size: 26px; font-weight: 800; color: rgba(198, 198, 198, 0.8);position: relative;top: -11px;}

#access{padding-top: 41px;}
.access_info{text-align: center;}
.access_info p{font-size: 20px; font-weight: 500;margin: 15px 0 0;}
.access_info p::before{content: url(images/map-pin.svg); display: inline-block; width: 13px; filter: brightness(0) saturate(100%) invert(86%) sepia(3%) saturate(14%) hue-rotate(325deg) brightness(79%) contrast(80%); margin-right: 3px;position: relative;top: 2px;}
.access_info ul{display: flex; justify-content: space-between; align-items: flex-start;max-width: 319px;margin: 19px auto 31px;text-align: left;}
.access_info ul li{font-size: 16px;}
.access_info ul li span{display: block; font-size: 28px; font-weight: 800;}
.access_info ul li span::after{content: "åˆ†"; margin-left: 5px;}
.access_info ul li span::after, 
.access_info ul li q{font-size: 16px; font-weight: 400; color: rgba(198, 198, 198, 0.8);}
.access_info ul li strong{font-size: 34px;}
.access_info ul li q{margin: 0 8px;position: relative;top: -5px;}

.access_map{max-width: 380px; height: 170px; border: 2px solid rgba(198, 198, 198, 0.99); border-radius: 16px; overflow: hidden; margin: 0 auto;}
.access_map iframe{height: 100%;}

.access_btn{margin-top: 25px;width: 238px;}

#notes{}
.notes_con{padding: 40px 0 0;}

ul.accord {max-width: 400px;margin: 17px auto;}
ul.accord li {padding: 8px 15px; transition: ease .3s;position: relative;}
ul.accord h2 {display: flex; justify-content: flex-start; align-items: center; gap: 11px; font-weight: 500; padding-right: 15px;}
ul.accord h2 figure { width: 20px; display: flex; justify-content: center; align-items: center; filter: brightness(0) saturate(100%) invert(86%) sepia(3%) saturate(14%) hue-rotate(325deg) brightness(79%) contrast(80%);}
ul.accord p { max-height: 0; overflow: hidden; transition: max-height 0.4s ease, opacity 0.4s ease; opacity: 0; font-size: 18px; color: rgba(247, 247, 247, 0.8);padding-top: 10px;line-height: 1.8;}
ul.accord li.active p { max-height: 1000px; opacity: 1; }

ul.accord h2::after { content: "\25BE"; position: absolute; right: 7px; font-size: 25px; transition: ease .5s;}
ul.accord li.active h2::after {transform: rotate(-180deg); }

#updates{}
.updates_con{padding: 12px 0 0;}

.updates_box1{background: url(images/updates-img-1.webp) no-repeat center/cover;}
.updates_box2{background: url(images/updates-img-2.webp) no-repeat center/cover;}
.updates_box3{background: url(images/updates-img-3.webp) no-repeat center/cover;}
.updates_box4{background: url(images/updates-img-4.webp) no-repeat center/cover;}
.updates_box5{background: url(images/updates-img-5.webp) no-repeat center/cover;}

#explaination{}
.explain_con{padding: 30px 0 0;}

.explain_info{text-align: center; max-width: 400px; margin: 0 auto;}
.explain_info figure{width: 126px;margin: 20px auto;border: 1px solid #fff;border-radius: 100%;}
.explain_info h3{font-size: 24px;font-weight: 700;line-height: 140%;}
.explain_info h3 span{display: block;}
.explain_info p{font-size: 16px; line-height: 1.7; max-width: 380px; height: 260px; overflow-y: auto; overflow-x: hidden; background: transparent; margin: 20px auto 0; }
.explain_info p span{display: block;}

footer{}
.footer_con{min-height: 251px;padding: 55px 0 20px;}
.footer_border_top{max-width: 430px; height: 2px; background: rgba(125, 137, 240, 0.5);margin: 0 auto;}

.footer_privacy{display: block; text-decoration: underline; text-align: center; margin: 18px auto 0; font-size: 16px; color: rgba(198, 198, 198, 0.8);}
.footer_privacy:hover{text-decoration: none;}

.footer_social{display: flex; justify-content: center; align-items: center; flex-wrap: wrap; column-gap: 25px;margin-top: 11px;}
.footer_social figure{filter: brightness(0) invert(1); position: relative;}
.footer_social figure a{position: absolute; inset: 0;}
.footer_social p{width: 100%; text-align: center; margin-top: 2px; font-size: 16px; color: rgba(247, 247, 247, 0.8);}

.footer_logo{display: flex; justify-content: center; align-items: center; gap: 16px; position: relative;margin-top: 11px;}
.footer_logo a{position: absolute; inset: 0;}
.footer_logo figure{max-width: 38px; border-radius: 100%; box-shadow: 0 0 0 1px #fff;}
.footer_logo p{font-size: 21px; font-weight: 800; color: #fff;}
